.ring-chat-compopnent.user-message {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    .ring-chat-user-message__avatar-wrap .ring-chat-user-message__avatar {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        background-color: #0089cd;
        color: #fff;
        border-radius: 100%;
    }

    .ring-chat-user-message__avatar-wrap.current-user-message
        .ring-chat-user-message__avatar {
        background-color: #459baa;
    }
    .ring-chat-user-message__main {
        flex: 1;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ring-chat-user-message__content {
        font-size: 16px;
        color: #333666;
    }
    .ring-chat-user-message__extra-info {
        text-align: left;
        font-size: 12px;
        color: #999;
    }
    .ring-chat-user-message__extra-info__cancel {
        margin-left: 10px;
        cursor: pointer;
        color: #666;
    }
}
.ring-chat-compopnent.user-message.isFromCurrentClient {
    justify-content: flex-end;
    .ring-chat-user-message__main {
        text-align: right;
    }
    .ring-chat-user-message__extra-info {
        text-align: right;
    }
    .ring-chat-user-message__main {
        align-items: flex-end;
    }
}
